.list {
  list-style: none;
  display: flex;
  padding-left: 280px;

  li {
    padding-left: 15px;
    padding-top: 15px;
    font-size: 14px;
    opacity: 0.5;
  }
}

.all {
  position: relative;
  border-radius: 50%;
  padding-right: 15px;
  color: white;
  opacity: 1;
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      background: white;
      border-radius: 50%;
      left: 8px;
      top: 10px;
      z-index: 1;
      opacity: 0.5;
    }
  }


.navBar {
  display: flex;
}

.menu {
  display: flex;
}

.seeAll {
  padding-left: 800px;
  font-size: 14px;
  position: relative;
}

.vectorRight {
  position: absolute;
  right: -20px;
  top: 1px
}

.title {
  position: relative;
  padding-left: 30px;
}

.vector {
  position: absolute;
  top: 33px;
}

